.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .banner {
    width: 100%;
    height: 55%;
    min-height: 352px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../assets/images/login-illustration.svg) bottom center no-repeat;
    background-size: 100% 100%;
  }

  .register {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 18px;
    margin: 10px auto 30px;

    .link {
      font-weight: 400;
      letter-spacing: .03em;
      color: white;
    }
    @media screen and (max-width: 400px) {
      font-size: 16px;
    }
  }

  .logo {
    position: absolute;
    left: 30px;
    top: 30px;
    margin-bottom: auto;
  }

  .form {
    padding: 0px 40px;
    margin: 0px;
    height: 100%;
    justify-content: center;

    .box {
      padding: 0;
      margin-bottom: 20px;
    }

    .input-wrapper {
      margin-bottom: 15px;

      &:last-of-type {
        margin-bottom: 10px;
      }
    }

    .input {
      font-size: 18px;
      @media screen and (max-width: 400px) {
        font-size: 16px;
      }
    }

    .label {
      font-size: 16px;
      @media screen and (max-width: 400px) {
        font-size: 14px;
      }
    }

    .button {
      // margin-top: 0;
      margin-bottom: 0;
      font-size: 18px;
      background: #0FA5A3;

      &.-disabled {
        background: #ccc;
      }

      @media screen and (max-width: 400px) {
        font-size: 16px;
      }
    }
  }

  
}
