.login {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .banner {
    width: 100%;
    height: 58%;
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #1b5063;

    > .content {
      
    }

    > .ambient {
      width: 100%;
      height: auto;
      margin-top: auto;
      background-color: white;
      display: flex;
      align-items: flex-end;

      > img {
        width: 100%;
      }
    }

    > .people {
      position: absolute;
      width: 60%;
      bottom: 0px;

      > img {
        width: 100%;
      }
    }
  }

  > .logo-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 60% auto auto auto;
    width: 181px;
    transform: scale(0.7);
    height: 52px;
  }

  .register {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 18px;
    margin: 10px auto 30px;

    .link {
      font-weight: 400;
      letter-spacing: 0.03em;
      color: white;
    }
    @media screen and (max-width: 400px) {
      font-size: 16px;
    }
  }

  .logo {
    position: absolute;
    left: 40px;
    top: 30px;
    margin-bottom: auto;
  }

  .form {
    padding: 0px 40px;
    margin: 0px;
    height: 100%;
    justify-content: center;
    background: white;
    z-index: 30;

    .box {
      padding: 0;
      margin-bottom: 20px;
      @media screen and (max-width: 400px) {
        margin-bottom: 0px;
      }
    }

    .input-wrapper {
      margin-bottom: 15px;

      &:last-of-type {
        margin-bottom: 10px;
      }
    }

    .input {
      font-size: 18px;
      @media screen and (max-width: 400px) {
        font-size: 16px;
      }
    }

    .label {
      font-size: 16px;
      @media screen and (max-width: 400px) {
        font-size: 14px;
      }
    }

    .button {
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 18px;
      background: #0fa5a3;

      &.-disabled {
        background: #ccc;
      }

      @media screen and (max-width: 400px) {
        font-size: 16px;
      }
    }
  }
}
