.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .banner {
    width: 100%;
    height: 55%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../assets/images/login-illustration.svg) bottom center no-repeat;
    background-size: 100% 100%;
  }

  .logo {
    margin-bottom: auto;
    margin-top: 10%;
  }

  .form {
    padding: 0px 40px;
    margin-bottom: 0;
    margin-top: 10px;

    .box {
      padding: 0;
      margin: 0;
    }

    .input-wrapper {
      margin-bottom: 15px;

      &:last-of-type {
        margin-bottom: 10px;
      }
    }

    .input {
      font-size: 18px;
      @media screen and (max-width: 400px) {
        font-size: 16px;
      }
    }

    .label {
      font-size: 16px;
      @media screen and (max-width: 400px) {
        font-size: 14px;
      }
    }

    .button {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 18px;
      background: #0FA5A3;

      @media screen and (max-width: 400px) {
        font-size: 16px;
      }
    }
  }

  .register {
    font-size: 14px;
    margin: 10px auto 30px;
    @media screen and (max-width: 400px) {
      font-size: 12px;
    }
  }

  .link {
    color: #0FA5A3;
  }

  
}
