.loader {
  position: absolute;
  .loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 30px;
    width: 100%;
    height: 100%;
    transform: translateX(50%);
    color: rgba(0, 0, 0, 0.2);

    .paw {
      width: 1em;
      height: 1em;
      position: relative;
      left: -30px;
      animation: 2050ms pawAnimation ease-in-out infinite;
      opacity: 0;

      svg {
        width: 100%;
        height: 100%;
      }

      .icon {
        fill: currentColor;
      }

      &:nth-child(odd) {
        transform: rotate(-10deg);
      }

      &:nth-child(even) {
        transform: rotate(10deg) translate(125%, 0);
      }

      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          animation-delay: #{(($i * -1)+6) * 0.25}s;
        }
      }

      .no-cssanimations & {
        opacity: 1;
      }
    }
  }

  @keyframes pawAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
