.page-holder {
  > .adopt {
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    padding-bottom: 70px;

    > .page-title {
      padding-right: 100px;
      padding-left: 30px;
    }

    > .filter {
      display: flex;
      padding: 0px 30px 20px;

      .select-wrapper {
        width: 100%;
        position: relative;
        padding-right: 20px;

        &:last-of-type {
          padding-right: 0;
        }

        &:after {
          content: "";
          position: absolute;
          right: 20px;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 10px;
          height: 10px;
          background: url(../../assets/images/arrow-down-black.svg) center center no-repeat / contain;
        }

        .select {
          border: none;
          font-size: 16px;
          color: black;
          font-weight: 400;
          position: relative;
        }
      }
    }

    > .page-title,
    > .card-list .item, > .filter .select-wrapper {
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    > .page-title {
      transition-delay: 250ms;
    }

    @for $i from 1 through 10 {
      .card-list {
        .item:nth-of-type(0n + #{$i}) {
          transition-delay: ($i * 300) + 300ms;
        }
      }
    }

    @for $i from 1 through 10 {
      .filter {
        .select-wrapper:nth-of-type(0n + #{$i}) {
          transition-delay: ($i * 100) + 300ms;
        }
      }
    }

    &.page-enter {
      > .page-title,
      > .card-list .item, > .filter .select-wrapper {
        opacity: 0;
        transform: translateY(30px);
      }
  
      &-active,
      &-done {
        > .page-title,
        > .card-list .item, > .filter .select-wrapper {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }
}
