.register {
  .title, .register, .input-wrapper, .button {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .3s ease, transform .3s ease;
  }
  &.page-enter-done {
    .title, .register, .input-wrapper, .button {
      opacity: 1;
      transform: translateY(0px);
    }
    .register {
      transition-delay: .1s;
    }

    @for $i from 1 through 3 {
      .input-wrapper:nth-of-type(3n + #{$i}) {
        transition-delay: #{$i / 10}s;
      }
    }

    .button {
      transition-delay: .4s;
    }
  }
}