.page {
  &.register {
    background-color: #0FA5A3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;

    .banner {
      width: 100%;
      height: 30%;
      min-height: 192px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background: url(../../assets/images/banner-register.svg) bottom center no-repeat;
      background-size: 130% auto;

      .title {
        width: 100%;
        padding: 0px 30px;
        margin-top: 50px;
        color: white;
      }

      .register {
        position: absolute;
        right: 30px;
        top: 30px;

        .link {
          font-size: 18px;
          font-weight: normal;
          letter-spacing: .03em;
        }
      }
    }

    .logo {
      margin: 10px 0 0px;
    }

    .form {
      margin: 0;
      padding: 10px 30px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .box {
        margin-bottom: 10px;
        background: none;
        padding: 0;
      }


      .input-wrapper {
        .error {
          color: white;
        }
      }

      .input, .textarea {
        background: none;
        color: white;
        border-bottom: 1px solid #34bcba;

        &::placeholder {
          color: rgba(255, 255, 255, .3);
        }
      }

      .label {
        color: white;

        @media screen and (max-width: 400px) {
          font-size: 14px;
        }
      }

      .button {
        // margin-bottom: 0px;
        margin-top: 30px;
        background: white;
        color: #0FA5A3;

        @media screen and (max-width: 400px) {
          font-size: 16px;
        }
      }
    }
    .register {
      font-size: 14px;
      margin: 10px auto 30px;
      color: white;

      @media screen and (max-width: 400px) {
        font-size: 12px;
      }
    }

    .link {
      color: #FFFFFF;
    }
  }
}
