.map-panel {
  position: absolute;
  border-radius: 30px;
  background: white;
  z-index: 34;
  width: 100%;
  height: 80%;
  top: 100%;
  box-shadow: 0 0px 10px rgba(168, 174, 201, 0.3);
  overflow: hidden;
  transition: 0.3s transform ease-out;
  will-change: transform;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .panel-content {
    padding: 0px 30px 100px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    @media screen and (max-width: 400px) {
      padding: 0px 30px 80px;
    }
  }

  .title {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 27px;
    font-weight: 800;
    position: sticky;
    top: -10px;
    background: white;
    z-index: 10;

    @media screen and (max-width: 400px) {
      padding-top: 20px;
    }
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 15px;
    position: relative;

    @media screen and (max-width: 400px) {
      font-size: 14px;
    }
  }

  .paragraph {
    font-size: 16px;
    margin: 0;

    @media screen and (max-width: 400px) {
      font-size: 14px;
    }
  }

  .block-content {
    margin-bottom: 30px;

    .subtitle {
      padding-left: 20px;
      font-weight: normal;
      &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #ddd;
        border-radius: 50%;
        bottom: 0;
        top: 0;
        left: 0px;
        margin: auto;
      }
    }

    .paragraph {
      font-weight: bold;
    }
  }

  .info {
    font-size: 16px;
    margin: 8px 0;
    padding-left: 20px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #ddd;
      border-radius: 50%;
      bottom: 0;
      top: 0;
      left: 0px;
      margin: auto;
    }

    @media screen and (max-width: 400px) {
      font-size: 14px;
    }
  }

  .comment {
    font-size: 20px;
    line-height: 31px;
    margin-bottom: 25px;
    display: inline-block;
    padding-left: 10px;
    position: relative;
    font-weight: 400;
    font-style: italic;
    color: black;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -5px;
      height: 90%;
      width: 1px;
      margin: auto;
      background-color: #ddd;
    }

    // @media screen and (max-width: 400px) {
    //   font-size: 14px;
    //   line-height: 18px;
    // }
  }

  .help {
    width: 100%;
    display: inline-block;
    text-align: center;
    background: #dc1d48;
    position: fixed;
    left: 0;
    bottom: 0;
    border-radius: 0;
    margin-bottom: 0;
  }

  &.-active {
    transform: translateY(calc(-100%));
    transition-timing-function: cubic-bezier(0.11, 1.13, 0.47, 1);
    transition-duration: 0.3s;
  }
}

.create-post {
  transition: transform 0.2s ease .06s, opacity 0.2s ease .1s;
  pointer-events: auto;
}
.menu-toggle {
  transition: transform 0.2s ease, opacity 0.2s ease;
  pointer-events: auto;
}

.-pin-opened {
  .create-post,
  .menu-toggle {
    transform: translateY(-50px);
    opacity: 0;
    pointer-events: none;
  }
}

.slider {
  overflow: hidden;
  width: 100%;
  height: 170px;
  border-radius: 26px;
  margin: 30px 0px 15px;
  background: #eee;
  position: relative;

  @media screen and (max-width: 400px) {
    height: 150px;
  }

  .glide__track {
    background: #eee;
  }

  .glide__slides {
    margin-top: 0;
    display: flex;

    .glide__slide {
      width: 100%;

      > .image {
        width: 100%;
        min-width: 100%;
        min-height: 100%;
      }
    }
  }

  .glide__bullets {
    bottom: 10px;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;

    > .glide__bullet {
      background: white;
      opacity: 0.4;
      width: 8px;
      height: 8px;
      margin: 0px 3px;
      border-radius: 50%;
      padding: 0;
      border: none;

      &--active {
        // background: black;
        opacity: 1;
      }
    }
  }
}
