.map-panel {
  position: absolute;
  border-radius: 30px;
  display: none;
  background: white;
  bottom: 200px;
  z-index: 34;
  width: 100%;
  box-shadow: 0 5px 10px rgba(168, 174, 201, 0.3);
  padding: 30px;
  &.-active {
    display: block;
  }
}