.map-panel {
  position: absolute;
  border-radius: 30px;
  display: none;
  background: white;
  bottom: 200px;
  z-index: 34;
  width: 100%;
  box-shadow: 0 0px 10px rgba(168, 174, 201, 0.3);
  padding: 30px 30px 50px;
  overflow: scroll;

  .title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: 800;
  }

  .info {
    font-size: 16px;
    margin: 8px 0;
    padding-left: 20px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #ddd;
      border-radius: 50%;
      bottom: 0;
      top: 0;
      left: 0px;
      margin: auto;
    }

    @media screen and (max-width: 400px) {
      font-size: 14px;
    }
  }

  .comment {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 15px;
    display: inline-block;

    @media screen and (max-width: 400px) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .help {
    width: 100%;
    display: inline-block;
    text-align: center;
    background: #DC1D48;
  }

  &.-active {
    display: block;
  }
}

.-pin-opened {
  .map-panel {
    bottom: -20px;
    height: 80%;

    @media screen and (max-width: 400px) {
      padding: 25px 30px 40px;
    }
  }

  .bar {
    bottom: 72%;

    .bar-list {
      opacity: 0;
    }
  }

  .create-post,
  .menu-toggle {
    display: none;
  }
}

.slider {
  overflow: hidden;
  width: 100%;
  height: 170px;
  border-radius: 26px;
  margin: 30px 0px 15px;
  background: #eee;
  position: relative;

  @media screen and (max-width: 400px) {
    height: 150px;
  }

  .glide__track {
    background: #eee;
  }
  
  .glide__slides {
    margin-top: 0;
    display: flex;

    .glide__slide {
      width: 100%;

      > .image {
        width: 100%;
        min-width: 100%;
        min-height: 100%;
      }
    }
  }

  .glide__bullets {
    bottom: 10px;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;

    > .glide__bullet {
      background: white;
      opacity: .4;
      width: 8px;
      height: 8px;
      margin: 0px 3px;
      border-radius: 50%;
      padding: 0;
      border: none;

      &--active {
        // background: black;
        opacity: 1;
      }
    }
  }
}
