.menu {
  position: fixed;
  background: white;
  z-index: 31;
  left: 0;
  top: 0;
  width: 58%;
  height: 100vh;
  display: flex;
  padding: 0 0 0 30px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transform: translateX(-100%);
  transition: transform .3s ease;
  pointer-events: none;

  > .title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  > .nav-list {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > .item {
      margin: 17px 0;
      font-size: 20px;
      font-weight: normal;
      position: relative;

      > .notification {
        position: absolute;
        width: 20px;
        height: 20px;
        background: #dc1d48;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 0;
        border-radius: 26px;
        top: 0;
        bottom: 0;
        left: 105%;
      }

      @media screen and (max-width: 400px) {
        font-size: 18px;
      }
    }
  }

  > .profile {
    display: flex;
    > .photo {
      width: 40px;
      height: 40px;
      background: #eee;
      display: block;
      border-radius: 50%;
    }

    > .info {
      padding-left: 10px;
      > .name {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 3px;

        
      }

      > .description {
        font-size: 15px;

        @media screen and (max-width: 400px) {
          font-size: 13px;
        }
      }
    }
  }

  &.-opened {
    left: 0%;
  }
}
