.bar {
  position: absolute;
  z-index: 30;
  width: 80%;
  margin: auto;
  left: 0;
  right: 0;
  padding: 20px;
  background: white;
  bottom: 40px;
  border-radius: 26px;
  box-shadow: 0 5px 10px rgba(168, 174, 201, 0.3);

  &.-fixed {
    bottom: 0;
    border-radius: 0;
    width: 100%;
  }

  > .bar-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    > .item {
      width: 23px;
      height: 23px;
      border-radius: 50%;
      background: #ddd;

      &.paw {
        background: url(../../assets/images/paw-icon.svg) center center no-repeat / 100%;
      }
    }
  }
}