.panel.chat {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fafafa;

  .header {
    height: 120px;
    width: 100%;
    padding: 10px 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    > .name {
      margin: 0;
      font-size: 18px;
      text-align: center;
    }

    > .back {
      position: absolute;
      left: 30px;
      border: none;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      background: none;

      > .anticon {
        margin: 0;
        font-size: 20px;
      }

      &:focus {
        border: none;
      }
    }
  }

  .artboard {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px 30px;
    z-index: 28;
    display: flex;
    overflow-y: auto;
    flex-direction: column-reverse;

    > .message-list {
      overflow: scroll;
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      > .message {
        margin-top: auto;
        background: #108382;
        color: white;
        border-radius: 20px;
        padding: 10px;
        margin: 10px 0;
        min-width: 150px;
        max-width: 70%;

        .text {
          margin: 5px 0 5px 0;
          font-size: 16px;
          font-weight: 600;
          color: white;
        }

        .name {
          margin: 5px 0 8px 0;
          font-size: 12px;
          font-weight: normal;
          color: #f0f0f0;
        }

        .hour {
          font-size: 12px;
          font-style: italic;
          width: 100%;
          color: #f0f0f0;
          text-align: right;
          padding-right: 5px;
          display: inline-block;
        }

        &.-me {
          margin-left: auto;
          background: #f0f0f0;

          .name, .hour {
            color: black;
          }

          .text {
            color: black;
          }
        }
      }
    }
  }

  .actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    padding: 30px;
    margin-bottom: auto;

    > .title {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 20px;
    }

    > .button {
      font-weight: normal;
      padding: 18px 20px;

      &.find {
        background: #dc1d48;
      }

      &.share {
        background: #f0f0f0;
        color: black;
      }
    }
  }

  .form {
    position: relative;
    margin: 0;
    padding: 20px 30px;
    margin-top: 0;
    bottom: 0;
    height: auto;
    z-index: 30;
    background: #fafafa;
    > .input-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      box-shadow: 0 0px 10px rgba(168, 174, 201, 0.3);
      height: 60px;
      border-radius: 30px;

      > input {
        width: 100%;
        height: 60px;
        padding: 10px 18px;
        border: none;
        font-size: 16px;
        position: relative;

        &::placeholder {
          font-size: 16px;
        }
      }

      > .send {
        width: 35px;
        height: 60px;
        margin: auto 20px auto 0;
        box-shadow: none;
        background: url(../../assets/images/icon-send.svg) center center / contain no-repeat;
        background-size: 25px;
        padding: 0;
        font-weight: normal;
        border-radius: 0;
      }

      > .clip {
        width: 20px;
        height: 20px;
        border-radius: 0;
        opacity: 0.2;
        background: url(../../assets/images/icon-clip.svg) center center / contain no-repeat;
        margin: auto 0;
        padding: 0 5px;
        // border-right: 1px solid red;
        margin: auto 0 auto 20px;
      }
    }
  }
}
