.panel.chat {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fafafa;

  .header {
    height: 120px;
    width: 100%;
    padding: 10px 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    > .name {
      margin: 0;
      font-size: 18px;
      text-align: center;
    }

    > .back {
      position: absolute;
      left: 30px;
      border: none;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 18px;
      height: 18px;
      background: url(../../assets/images/arrow-back.svg) center center no-repeat / contain;

      &:focus {
        border: none;
      }
    }
  }

  .artboard {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px 30px;
    z-index: 28;
    display: flex;
    overflow-y: auto;
    flex-direction: column-reverse;

    > .message-list {
      overflow: scroll;
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      > .message {
        margin-top: auto;
        background: #108382;
        color: white;
        border-radius: 20px;
        padding: 10px;
        margin: 10px 0;
        min-width: 150px;
        max-width: 70%;

        .text {
          margin: 5px 0 5px 0;
        }

        .name {
          margin: 5px 0 5px 0;
          font-size: 14px;
          font-weight: normal;
        }

        .hour {
          font-size: 12px;
          font-style: italic;
          width: 100%;
          text-align: right;
          padding-right: 5px;
          display: inline-block;
        }

        &.-me {
          margin-left: auto;
          background: #f0f0f0;
          color: black;
        }
      }
    }
  }

  .actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    padding: 30px;

    > .title {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 20px;
    }

    > .button {
      font-weight: normal;
      padding: 18px 20px;

      &.find {
        background: #dc1d48;
      }

      &.share {
        background: #f0f0f0;
        color: black;
      }
    }
  }

  .form {
    position: relative;
    padding: 10px 30px 20px;
    margin-top: 0;
    bottom: 0;
    height: auto;
    z-index: 30;
    background: #fafafa;
    > .input-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      box-shadow: 0 0px 10px rgba(168, 174, 201, 0.3);
      border-radius: 13px;
      height: 60px;

      > input {
        width: 75%;
        height: 100%;
        padding: 10px;
        border: none;
        font-size: 16px;

        &::placeholder {
          font-size: 16px;
        }
      }

      > .send {
        width: 25%;
        height: 100%;
        margin: auto;
        background: #0fa5a3;
        border-radius: 13px;
        font-weight: normal;
        padding: 10px 0px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
