.page-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 33px;
  width: 100%;
  padding: 40px 30px 20px;
  margin: 0;

  small {
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
    color: #aaa;
    font-style: italic;
  }
}