.page-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 33px;
  width: 100%;
  padding: 40px 20px 20px;
  margin: 0;

  // opacity: 0;
  // transform: translateY(30px);
  // transition: all .3s ease;

  // animation: .3s ease .3s forwards appear;
}

// @keyframes appear {
//   from {
//     opacity: 0;
//     transform: translateY(30px);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0px);
//   }
// }