* {
  box-sizing: border-box;
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Roboto, 'sans-serif';
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  // -webkit-transform: translate3d(0, 0, 0);
  // -moz-transform: translate3d(0, 0, 0);
}

*[data-murphy] {
  opacity: 0;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input, button, textarea, select {
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin: 0 4px;
}

h1 {
  letter-spacing: 0.02em;
}

.button {
  background: black;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin: 10px 0px;
  font-weight: 600;
  box-shadow: 0 5px 10px rgba(168, 174, 201, 0.3);

  &.-secondary {
    background: #d8d8d8;
    color: black;
    font-weight: 400;
  }
}

.box {
  background: white;
  padding: 20px;
  width: 100%;
  border-radius: 27px;
}

.input-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;

  > span {
    font-size: 12px;
    color: black;
    font-weight: normal;
    margin: 10px 0;
    position: absolute;
    right: 0;
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.label {
  font-size: 16px;
  color: #A7A7A7;
  margin-bottom: 5px;
  font-weight: normal;
}

.input, select, .textarea {
  font-size: 18px;
  color: black;
  background: none;
  padding: 0;
  font-weight: 700;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #eeeeee;

  &:focus {
   outline: none;
   border-bottom-color: #ccc; 
  }

  &::placeholder {
    color: #ddd;
    font-weight: 400;
  }
}

.-isLoading {
  .step-control {
    pointer-events: none !important;
    button, .button {
      transition-delay: 0s;
      pointer-events: none !important;
      opacity: 0.5 !important;
      touch-action: none;
    }
  }
}

.-disabled {
  opacity: .3;
  pointer-events: none;
}

img {
  max-width: 100%;
}

.textarea {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

// TODO: Tentar reimplementar essas subrescritas no alert do ANTD
.ant-notification {
  right: 0px !important;
  left: 0 !important;
  top: 17px !important;
  bottom: auto !important;
  margin: 0 auto !important;

  .ant-notification-notice {
    border-radius: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
  }
  .ant-notification-notice-icon {
    font-size: 20px;
  }
  .ant-notification-notice-with-icon {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .ant-notification-notice-with-icon .ant-notification-notice-message{
    font-size: 14px;
    margin-left: 38px;
    line-height: 18px;
  }
  .ant-notification-notice-with-icon .ant-notification-notice-message {
    margin-bottom: 0;
  }
}

.loader.ant-spin-spinning {
  position: fixed;
  z-index: 101;
  margin: auto;
  left: 0;
  right: 0;
  width: 40px;
  height: 40px;
  top: -100px;
  transition: transform .3s ease;
  background: #0d8f8d;
  color: white;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.-isLoading {
  .loader.ant-spin-spinning {
    transform: translateY(150px)
  }
}