* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'sans-serif';
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin: 0 4px;
}

.button {
  background: black;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  font-size: 17px;
  cursor: pointer;
  width: 100%;
  margin: 10px 0px;
  font-weight: 600;
  box-shadow: 0 5px 10px rgba(168, 174, 201, 0.3);

  &.-secondary {
    background: #d8d8d8;
    color: black;
    font-weight: 400;
  }
}

.box {
  background: white;
  padding: 20px;
  width: 100%;
  border-radius: 27px;
}

.input-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.label {
  font-size: 15px;
  color: #A7A7A7;
  margin-bottom: 5px;
}

.input {
  font-size: 22px;
  color: black;
  padding: 0;
  font-size: 22px;
  font-weight: 700;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid transparent;

  &:focus {
   outline: none;
   border-bottom-color: #eeeeee; 
  }

  &::placeholder {
    color: #ddd;
    font-weight: 400;
  }
}
