.wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
  max-width: 480px;
  margin: auto;
  height: 100vh;
}

.panel {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
