.card-list {
  padding: 0px 30px;
  width: 100%;

  .item {
    margin-bottom: 40px;
  }

  .card-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 0;

    .holder {
      &:last-of-type {
        padding-left: 15px;
      }
    }

    .name {
      font-size: 16px;
      font-weight: bold;
      color: black;
    }

    .description {
      font-size: 13px;
      color: #919191;
      i {
        margin-right: 5px;
        color: #ccc;
        font-size: 12px;
      }
    }

    .profile {
      width: 45px;
      height: 45px;
      border-radius: 12px;
      overflow: hidden;

      img {
        object-fit: cover;
      }
    }
  }

  .card-body {
    position: relative;
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -khtml-border-radius: 26px;
    // -webkit-mask-image: -webkit-radial-gradient(white, black);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

    .slider {
      position: relative;
      height: 250px;
      z-index: 50;

      .slider-post-two {
        display: flex;
        align-items: center;
      }

      .glide__track {
        background: #eee;
        min-height: 100%;
        min-width: 100%;
      }

      .glide__slides {
        margin: 0;
        display: flex;
        min-height: 100%;
        min-width: 100%;

        .glide__slide {
          width: 100%;

          > .image {
            width: 100%;
            min-width: 100%;
            min-height: 100%;
          }
        }
      }
      .glide__bullets {
        bottom: 70px;
        left: 0;
        right: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: auto;

        > .glide__bullet {
          background: white;
          opacity: 0.4;
          width: 8px;
          height: 8px;
          margin: 0px 3px;
          border-radius: 50%;
          padding: 0;
          border: none;

          &--active {
            opacity: 1;
          }
        }
      }
    }

    .block-info {
      width: 100%;
      background: white;
      padding-top: 20px;
      border-radius: 26px;
      margin-top: -30px;
      position: relative;
      z-index: 70;

      &-header,
      &-body {
        padding: 0 20px;
      }

      &-header {
        width: 100%;
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        justify-content: space-between;
      }

      .name {
        font-size: 23px;
        margin: 0;
        font-weight: bold;
        color: #000000;
        line-height: 24px;
      }

      .share {
        margin: 0;
        display: flex;
        align-items: center;

        i {
          margin-left: 5px;
        }
      }

      .info {
        padding: 3px 0px 3px 25px;
        position: relative;

        i {
          color: #ddd;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 50%;
          margin: auto;
          bottom: 0;
          width: 14px;
          height: 14px;
        }
      }

      .button {
        margin-top: 20px;
        margin-bottom: 0;
        border-radius: 0;
        background-color: #dc1d48;
        color: white;
      }
    }

    .control {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      z-index: 80;

      .button {
        margin: 0;
        border-radius: 0;
        font-size: 12px;
        font-weight: 400;
        padding: 20px 10px;

        &.-gift {
          background-color: #0fa5a3;
        }

        &.-ask {
          background-color: #1b5063;
        }
      }
    }
  }

  &.-two {
    .card-body .slider {
      height: 200px;
      .glide__bullets {
        bottom: 50px;
      }

      .slider-post-two {
        height: 200px;
      }
    }
  }
}
