.ant-carousel {
  width: 100%;
  height: 100%;

  .slick-slider,
  .slick-list,
  .slick-track {
    width: 100%;
    height: 100%;
  }

  .slick-slide {
    > div,
    .slide-item {
      width: 100%;
      height: 100%;
      display: flex !important;
      align-items: center !important;
    }
  }
}
