.modal-wrapper {
  // background-color: red;
  width: 100vw;
  height: 100vh;

  .ant-modal {
    height: 100vh;
    width: 100vw !important;
    top: auto;
    margin: 0;
    max-width: 100vw;
    padding: 0;
    
    .ant-modal-content {
      border-radius: 0; 
      height: 100%;
      overflow: hidden;
      position: relative;

      .ant-modal-header {
        position: absolute;
        display: none;
      }

      .ant-modal-body {
        padding: 0;
        height: 100%;
      }
    }
  }
}