.modal-wrapper {
  width: 100vw;
  height: 100vh;
  

  .ant-modal {
    height: 100vh;
    width: 100vw !important;
    top: auto;
    margin: 0;
    max-width: 100vw;
    padding: 0;

    .ant-modal-content {
      border-radius: 0;
      height: 100%;
      overflow: hidden;
      position: relative;

      .ant-modal-header {
        position: absolute;
        display: none;
      }

      .ant-modal-close-x {
        width: 70px;
        z-index: 800;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          font-size: 23px;
          color: white;
        }
      }

      .ant-modal-body {
        padding: 0;
        height: 100%;

        .button-next {
          position: absolute;
          bottom: 0;
          z-index: 90;
          background-color: white;
          border: none;
          padding: 10px 25px;
          border-radius: 26px;
          bottom: 25px;
          right: 30px;
          color: #ff653a;
          font-weight: 600;
          transition: opacity .3s ease;

          &:disabled {
            opacity: .5;
          }
        }
      }
    }
  }

  .illustration-track {
    pointer-events: none;
    position: absolute;
    z-index: 200;
    left: 0;
    top: 10px;
    width: 100%;
    img {
      max-width: none;
      transition: transform .6s ease;
    }
  }

  &.-current-1 {
    .ant-carousel {
      background-color: #ffc628 !important;
    }
    .button-next {
      color: #ffc628 !important;
    }

    .slick-slide {
      .slide-item {
        > h3,
        > p {
          color: #8f6e14;
        }
      }
    }

    .illustration-track {
      img {
        transform: translateX(-260px);
      }
    }
  }

  &.-current-2 {
    .ant-carousel {
      background-color: #40c0c3 !important;
    }
    .button-next {
      color: #40c0c3 !important;
    }

    .illustration-track {
      img {
        transform: translateX(-650px);
      }
    }

    
  }

  &.-current-3 {
    .ant-carousel {
      background-color: #fc2858 !important;
    }
    .button-next {
      color: #fc2858 !important;
    }

    .illustration-track {
      img {
        transform: translateX(-960px);
      }
    }
  }
}
