.form {
  width: 100%;
  display: flex;
  margin: 30px 0 50px;
  flex-direction: column;
  align-items: center;

  .box {
    margin: 10px 0px 35px 0px;
    padding: 30px 20px;
  }

  .register {
    margin-bottom: 20px;
    color: #a7a7a7;
  }
}

.page {
  
  > .menu-toggle {
    width: 35px;
    height: 35px;
    background: black;
    position: fixed;
    z-index: 32;
    top: 60px;
    left: 50px;
  }

  &.-opened {
    > .page-holder {
      transform: scale(0.8) translateX(60%)
    }

    > .menu {
      left: 0;
    }
  }

}

