.form {
  width: 100%;
  display: flex;
  margin: 30px 0 50px;
  flex-direction: column;
  align-items: center;

  .box {
    margin: 10px 0px 35px 0px;
    padding: 30px 20px;
  }

  .register {
    margin-bottom: 20px;
    color: #a7a7a7;
  }
}

.create-post {
  position: absolute;
  right: 36px;
  color: white;
  border-radius: 26.5px;
  top: 60px;
  padding: 15px;
  z-index: 32;
  font-weight: 500;
  background: #dc1d48;
}

.wrapper {
  .menu-toggle {
    width: 50px;
    height: 50px;
    position: fixed;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(168, 174, 201, 0.3);
    background: url(../../assets/images/menu-toggle-icon.svg) center center no-repeat / 40% 50%;
    background-color: white;
    z-index: 32;
    top: 60px;
    left: 36px;
  }

  &.-opened {
    .page-holder {
      transform: scale(0.8) translateX(60%);
      border-radius: 30px;
      overflow: hidden;

      > .home,
      > .bar {
        pointer-events: none;
      }
    }

    > .menu {
      left: 0;
    }

    > .create-post {
      display: none;
    }

    > .menu-toggle {
      left: 70%;
      top: 105px;
      background: url(../../assets/images/arrow-back.svg) center center no-repeat / 40% 50%;
      background-color: transparent;
      box-shadow: none;
    }
  }
}
