.form {
  width: 100%;
  display: flex;
  margin: 30px 0 50px;
  flex-direction: column;
  align-items: center;

  .box {
    margin: 10px 0px 50px 0px;
    padding: 30px 20px;
  }

  .register {
    margin-bottom: 20px;
    color: #a7a7a7;
  }
}

.create-post {
  position: fixed;
  right: 36px;
  color: white;
  border-radius: 26.5px;
  top: 60px;
  padding: 15px;
  z-index: 32;
  font-weight: 500;
  background: #dc1d48;
}

.page-holder {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all .3s ease, border-radius .3s ease;
  background: white;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.wrapper {
  background-color: #1B5063;
  .menu-toggle {
    width: 50px;
    height: 50px;
    position: fixed;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(168, 174, 201, 0.3);
    background: url(../../assets/images/menu-toggle-icon.svg) center center no-repeat / 40% 50%;
    background-color: white;
    z-index: 32;
    top: 60px;
    left: 36px;
  }

  &.-opened {
    .page-holder {
      transform: scale(0.8) translateX(70%);
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -khtml-border-radius: 30px;
    }

    > .menu {
      transform: translateX(0%);
      pointer-events: auto;
    }

    > .create-post {
      opacity: 0;
      pointer-events: none;
    }

    > .menu-toggle {
      left: 70%;
      top: 105px;
      background: url(../../assets/images/arrow-back.svg) center center / 40% 50% no-repeat;
      background-color: transparent;
      box-shadow: none;
      opacity: 0;
      pointer-events: none;
    }
  }
}

.locker {
  width: 100vw;
  height: 100vh;
  background: #1B5063;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: none;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img, p {
    display: block;
    margin: 20px 0px;
    text-align: center;
    color: white;
    font-size: 20px;
  }


  @media screen and (min-width: 480px) {
    display: flex;
    pointer-events: auto;
    z-index: 60;
  }
}
