.form {
  width: 100%;
  display: flex;
  margin: 30px 0 50px;
  flex-direction: column;
  align-items: center;

  .box {
    margin: 10px 0px 35px 0px;
    padding: 30px 20px;
  }

  .register {
    margin-bottom: 20px;
    color: #a7a7a7;
  }
}

.create-post {
  position: absolute;
  right: 50px;
  top: 60px;
  width: 35px;
  height: 35px;
  z-index: 32;
  background: #ccc;
}

.page {
  
  .menu-toggle {
    width: 35px;
    height: 35px;
    background: black;
    position: fixed;
    z-index: 32;
    top: 60px;
    left: 50px;
  }

  

  &.-opened {
    .page-holder {
      transform: scale(0.8) translateX(60%);
      border-radius: 30px;
      overflow: hidden;

      > .home, > .bar {
        pointer-events: none;
      }
    }

    > .menu {
      left: 0;
    }
  }

}

