.wrapper {
  .login {
    background: #1b5063;

    .form {
      transition: transform 0.3s ease-in-out, opacity 0.3s ease;
    }

    .banner {
      transition: transform 0.3s ease-in-out, opacity 0.3s ease;

      .people {
        transition: transform 0.3s ease-in-out, scale 0.3s ease-in-out;
      }

      > .logo {
        transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
      }

      > .register {
        transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
      }
    }

    > .logo-loading {
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    // &.page-enter {
    //   border: 1px solid red;
    // }
    .input-wrapper {
      transition: opacity 0.3s ease-in-out 0.25s, transform 0.3s ease-in-out 0.25s;

      &:last-of-type {
        transition-delay: 0.3s;
      }
    }

    .button {
      transition: opacity 0.3s ease 0.4s, transform 0.3s ease 0.4s;
    }
  }

  &.-loading {
    .login {
      .form {
        transform: translateY(430px);
        .input-wrapper,
        .button {
          opacity: 0;
          transform: translateY(10px);
          pointer-events: none;
        }
      }

      .banner {
        transform: translateY(430px);

        > .logo,
        > .register {
          opacity: 0;
          pointer-events: none;
          transform: translateY(0px);
        }

        > .people {
          transform: scale(0.9) translateY(-180px);
        }
      }

      .logo-loading {
        transform: translateY(0px) scale(0.7);
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &.-loaded {
    .login {
      .form {
        .input-wrapper,
        .button {
          opacity: 1;
          transform: translateY(0px);
          pointer-events: auto;
        }
      }

      .banner {
        > .logo,
        > .register {
          transition-duration: 0.3s;
          transition-delay: 0.2s;
          transform: translateY(-10px);
          opacity: 1;
          pointer-events: auto;
        }

        > .register {
          transition-delay: 0.3s;
        }
      }

      .logo-loading {
        transform: translateY(-80px) scale(0.7);
        opacity: 0;
        pointer-events: auto;
      }
    }

    .login {
      &.page-enter,
      &.page-enter-active {
        .form {
          transform: translateY(30px);
          opacity: 0;
          .input-wrapper,
          .button {
            opacity: 0;
            transform: translateY(10px);
            pointer-events: none;
          }
        }

        .banner {
          transform: translateY(30px);
          opacity: 0;

          > .logo,
          > .register {
            opacity: 0;
            pointer-events: none;
            transform: translateY(0px);
          }
        }

        .logo-loading {
          opacity: 0;
        }
      }
      &.page-enter-done {
        .form {
          transform: translateY(0px);
          opacity: 1;
          .input-wrapper,
          .button {
            opacity: 1;
            transform: translateY(0px);
            pointer-events: auto;
          }
        }

        .banner {
          transform: translateY(0px);
          opacity: 1;

          > .logo,
          > .register {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(-10px);
          }
        }
      }
    }
  }
}
