.wrapper {
  // Reset
  .login {
    background: #1b5063;

    .form {
      transition: transform 0.3s ease-in-out, opacity 0.3s ease;

      .button {
        transition: opacity 0.3s ease 0.4s, transform 0.3s ease 0.4s;
      }
    }

    .content {
      padding: 25% 40px 40px;
      width: 100%;
      position: absolute;

      > * {
        transition: transform 0.3s ease, opacity 0.3s ease;
        transform: translateY(15px);
        opacity: 0;
      }
      

      > .logo {
        left: 40px;
      }

      > .title {
        opacity: 0;
        font-size: 22px;
        line-height: 28px;
        font-weight: 500;
        color: white;
        margin-bottom: 15%;
      }

      .button {
        box-shadow: none;
        margin-bottom: 15px;
        display: block;
        text-align: center;
      }

      .-signin {
        background-color: #0fa5a3;
      }

      .-register {
        background-color: #2f6b7e;
      }
    }

    .banner {
      transition: transform 0.3s ease-in-out, opacity 0.3s ease;

      .people {
        transition: transform 0.3s ease-in-out, scale 0.3s ease-in-out;
      }

      > .logo {
        transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
      }

      > .register {
        transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
      }
    }

    > .logo-loading {
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
    .input-wrapper {
      transition: opacity 0.3s ease-in-out 0.25s, transform 0.3s ease-in-out 0.25s;

      &:last-of-type {
        transition-delay: 0.3s;
      }
    }

  }

  // Initial
  .login {
    .form {
      transform: translateY(430px);
      .input-wrapper,
      .button {
        opacity: 0;
        transform: translateY(10px);
        pointer-events: none;
      }
    }

    .banner {
      transform: translateY(430px);

      > .logo,
      > .register {
        opacity: 0;
        pointer-events: none;
        transform: translateY(0px);
      }

      > .people {
        transform: scale(0.9) translateY(-180px);
      }
    }
  }

  // Loaded
  &.-loading {
    .logo-loading {
      transform: translateY(0px) scale(0.7);
      opacity: 1;
      pointer-events: auto;
    }
  }

  // Loading
  &.-loaded {
    .logo-loading {
      transform: translateY(-80px) scale(0.7);
      opacity: 0;
      pointer-events: auto;
    }

    .content {
      > .logo,
      > .title,
      > .-signin,
      > .-register {
        transform: translateY(0px);
        opacity: 1;
      }

      > .title {
        transition-delay: .1s;
      }
      > .-register {
        transition-delay: .2s;
      }
      > .-signin {
        transition-delay: .3s;
      }
      
    }
  }

  &.-login-selected {
    .logo-loading {
      transform: translateY(-80px) scale(0.7);
      opacity: 0;
      pointer-events: auto;
    }

    .form {
      transform: translateY(0px);
      opacity: 1;
      .input-wrapper,
      .button {
        opacity: 1;
        transform: translateY(0px);
        pointer-events: auto;
      }
    }

    .banner {
      transform: translateY(0px);
      opacity: 1;
      > .logo,
      > .register {
        transition-duration: 0.3s;
        transition-delay: 0.2s;
        transform: translateY(-10px);
        opacity: 1;
        pointer-events: auto;
      }

      > .register {
        transition-delay: 0.3s;
      }

      > .people {
        transform: scale(0.9) translateY(-0px);
      }
    }
  }
}
