.wrapper {
  .banner {
    transition: height 0.3s ease-in-out;

    .people {
      transition: transform 0.3s ease-in-out, scale 0.3s ease-in-out;
    }

    > .logo {
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    > .logo-loading {
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    > .register {
      transition: opacity 0.3s ease-in-out 0.1s, transform 0.3s ease-in-out 0.1s;
    }
  }

  .input-wrapper {
    transition: opacity 0.3s ease-in-out 0.25s, transform 0.3s ease-in-out 0.25s;

    &:last-of-type {
      transition-delay: 0.3s;
    }
  }

  .button {
    transition: opacity 0.3s ease 0.4s, transform 0.3s ease 0.4s;
  }
  

  &.-loading {
    .login {
      .form {
        .input-wrapper,
        .button {
          opacity: 0;
          transform: translateY(10px);
          pointer-events: none;
        }
      }

      .banner {
        height: 125%;

        > .logo,
        > .register {
          opacity: 0;
          pointer-events: none;
          transform: translateY(0px);
        }

        .logo-loading {
          transform: translateY(0px) scale(0.7);
          opacity: 1;
          pointer-events: auto;
        }

        > .people {
          transform: scale(0.9) translateY(-180px);
        }
      }
    }
  }

  &.-loaded {
    .login {
      .form {
        .input-wrapper,
        .button {
          opacity: 1;
          transform: translateY(0px);
          pointer-events: auto;
        }
      }

      .banner {
        > .logo,
        > .register {
          transform: translateY(-10px);
          opacity: 1;
          pointer-events: auto;
        }

        .logo-loading {
          transform: translateY(-80px) scale(0.7);
          opacity: 0;
          pointer-events: auto;
        }
      }
    }
  }
}
