.wrapper {

  .banner {
    transition: height .3s ease;

    .people {
      transition: transform .3s ease, scale .3s ease;
    }

    > .logo{
      transition: opacity .3s ease, transform .3s ease;
    }

    > .register {
      transition: opacity .3s ease .1s, transform .3s ease .1s;
    }
  }

  &.-loading {
    .login {
      .form {
        opacity: 0;
        pointer-events: none;
      }

      .banner {
        // transform: translateY(100%);
        height: 125%;

        > .logo, > .register {
          opacity: 0;
          pointer-events: none;
          transform: translateY(0px)
        }

        > .people {
          transform: scale(0.9) translateY(-180px)
        }
      }
    }
  }

  &.-loaded {
    .login {
      // background-color: #1b5063;

      .banner {
        // transform: translateY(0%);

        // > .people {
        //   transform: scale(1) translateY(0px)
        // }

        > .logo, > .register {
          transform: translateY(-10px);
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }
}
