.publication {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > .slider {
    width: 100%;
    height: 100%;
    background: #ededed;
  }

  > .content {
    margin-top: -20px;
    height: 100%;
    background: white;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    > .control {
      display: flex;
      .button {
        border-radius: 0;
        margin: 0;
        font-weight: 600;
        font-size: 13px;
        background-color: #0FA5A3;
        padding: 18px 20px;

        &.-call {
          background-color: #1B5063;
        }
      }
    }

    > .details-list {
      margin-bottom: 0;
      > .item {
        font-size: 14px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        > .anticon {
          width: 18px;
          height: 18px;
          display: flex;
          align-items: center;
          margin-right: 5px;
        }
      }
      
    }

    > .header,
    .details-list,
    .comment {
      padding: 0 20px;
    }

    > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      > .title {
        font-size: 30px;
        font-weight: bold;
      }

      > .share {
        font-size: 14px;
        font-weight: 600;
      }
    }

    > .comment {
      font-size: 18px;
      line-height: 26px;
      font-style: italic;
      margin-bottom: 25px;
    }

    
  }
}
