.publication {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > .back {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 30;
    border: none;
    left: 30px;
    top: 30px;
    padding: 0;
    background: none;

    .anticon {
      font-size: 30px;
      color: white;
    }
  }

  > .slider {
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 310px;
    background: #eee;
    position: relative;

    .glide__track {
      background: #eee;
      min-height: 100%;
      min-width: 100%;
      height: 100%;
    }

    .glide__slides {
      margin: 0;
      display: flex;
      min-height: 100%;
      min-width: 100%;
      height: 100%;

      .glide__slide {
        width: 100%;
        display: flex;

        > .image {
          width: 100%;
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
        }
      }
    }

    .glide__bullets {
      bottom: 40px;
      left: 0;
      right: 0;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      margin: auto;

      > .glide__bullet {
        background: white;
        opacity: 0.4;
        width: 8px;
        height: 8px;
        margin: 0px 3px;
        border-radius: 50%;
        padding: 0;
        border: none;

        &--active {
          opacity: 1;
        }
      }
    }
  }

  > .content {
    margin-top: -20px;
    height: 100%;
    background: white;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 50;
    overflow-y: scroll;
    -webkit-transform: translate3d(0, 0, 0);
    > .control {
      display: flex;
      position: sticky;
      bottom: 0;
      .button {
        border-radius: 0;
        margin: 0;
        font-weight: 600;
        font-size: 13px;
        background-color: #0fa5a3;
        padding: 18px 20px;
        text-align: center;

        &.-call {
          background-color: #1b5063;
        }
      }
    }

    > .details-list {
      margin-bottom: 0;
      > .item {
        font-size: 14px;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-start;

        > .anticon {
          width: 18px;
          height: 18px;
          color: #ccc;
          margin-top: 2px;
          display: flex;
          align-items: center;
          margin-right: 5px;
        }
      }
    }

    > .header,
    .details-list,
    .comment {
      padding: 0 30px;
    }

    > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0px;
      position: sticky;
      top: 0;
      margin-top: 15px;
      background: white;
      padding-top: 5px;
      padding-bottom: 5px;

      > .title {
        font-size: 30px;
        font-weight: bold;
      }

      > .share {
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;

        .anticon {
          width: 14px;
          height: 14px;
          margin-left: 5px;
        }
      }
    }

    > .comment {
      font-size: 18px;
      line-height: 26px;
      font-style: italic;
      margin-bottom: 25px;
    }
  }

  @media screen and (min-width: 400px) {
    > .content {
      > .comment {
        margin-bottom: 5px;
      }

      > .details-list > .item {
        font-size: 16px;
      }
    }
  }
}
