.panel {
  &.post {
    padding: 20px 30px;
    overflow: scroll;
  
    .form {
      .box {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  
  .preview {
    width: 150px;
  }
}