.panel.post {
  height: 100%;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;

  .content {
    padding: 20px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .description {
      font-size: 18px;
      line-height: 22px;

      @media screen and (max-width: 400px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .step-control {
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    background: white;
    width: 100%;
    margin: 10px 0px 20px;

    .button {
      width: auto;
      font-size: 18px;
      font-weight: normal;
      @media screen and (max-width: 400px) {
        font-size: 16px;
      }
    }

    .prev {
      background: none;
      box-shadow: none;
      position: relative;
      margin-left: 10px;

      &:before {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        top: 0;
        bottom: 0;
        left: -5px;
        margin: auto;
        position: absolute;
        background: url(../../assets/images/arrow-back.svg) center center no-repeat / contain;
      }
    }

    > .next {
      padding: 10px 20px;
      background: #dc1d48;

      &.-disabled {
        background: #ddd;
      }
    }
  }

  .form {
    margin-top: 20px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .box {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  .content {
    > .title {
      font-size: 22px;
      line-height: 28px; 
      position: sticky;
      top: 0px;
      background: white;
      z-index: 30;
      padding: 13px 0px 8px;
      margin-bottom: 0;
    }
  }

  &.-intro {
    > .content {
      height: auto;
      display: block;
      position: relative;
    }
    .banner {
      width: 100%;
      height: 47%;
      max-height: 320px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url(../../assets/images/post-illustration.svg) bottom center no-repeat;
      background-size: 100% auto;
    }

    .content {
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .description {
      padding: 0px 20px;
      margin-top: 0;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 25px;
      }
    }

    .title {
      margin-top: 0;
    }

    .cancel {
      background: url(../../assets/images/close.svg) bottom center no-repeat;
      background-size: 100% auto;
      z-index: 40;
      box-shadow: none;
      position: fixed;
      top: 30px;
      border: none;
      right: 30px;
      width: 20px;
      height: 20px;
      padding: 0;
      margin: 0;
      border-radius: 0;
    }

    .button {
      background: #dc1d48;
      font-weight: 400;
      font-size: 16px;
      width: 200px;
      padding: 12px 30px;
      margin-top: 0;
      margin-bottom: 12px;

      &.-option-2 {
        background-color: #8f1331;
      }

      &:last-of-type {
        margin-bottom: 10px;
      }
    }
  }

  &.-animal {
    .box {
      padding-top: 10px;
      padding-bottom: 0px;
    }
  }

  &.-photo {
    .add {
      overflow: hidden;
      cursor: pointer;
      > input {
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:after {
          content: "";
          width: 100%;
          height: 100%;
          background: url(../../assets/images/more.svg) center center no-repeat / 30%;
          background-color: #eee;
          position: absolute;
          top: 0;
        }
      }
    }

    .gallery {
      margin-bottom: auto;
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .photo-item {
        width: calc(50% - 10px);
        margin: 5px;
        display: inline-flex;
        align-items: center;
        position: relative;
        justify-content: center;
        height: 140px;
        background: #eee;
        border-radius: 26px;

        .delete-photo {
          position: absolute;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: url(../../assets/images/close.svg) center center no-repeat / 40%;
          background-color: black;
          left: -10px;
          top: -10px;
        }

        .image-wrapper {
          overflow: hidden;
          width: 100%;
          height: 100%;
          border-radius: 26px;
          > .image {
            min-height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        &:nth-child(odd) {
          margin-left: 0;
        }

        &:nth-child(even) {
          margin-right: 0;
        }
      }
    }
  }

  &.-final {
    &:before {
      width: 100%;
    }

    .banner {
      width: 100%;
      height: 48%;
      max-height: 320px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url(../../assets/images/final-illustration.svg) bottom center no-repeat;
      background-size: 100% auto;
    }

    .content {
      height: auto;
      display: flex;
      align-items: center;
      text-align: center;

      .title {
        margin-bottom: 0;
        font-size: 30px;
      }

      .description {
        padding: 0px 20px;
      }

      .button {
        padding: 14px 20px;
        width: 180px;
        text-align: center;
        font-size: 16px;
        box-shadow: none;

        @media screen and (max-width: 400px) {
          font-size: 14px;
        }
      }

      .share {
        font-weight: normal;
        background: #dc1d48;
        margin-bottom: 5px;
      }

      .to-home {
        font-weight: normal;
        background: #eaeaea;
        color: black;
      }
    }
  }

  &.page-enter {
    .banner {
      transform: translateY(-30px);
      opacity: 0;
    }

    .cancel {
      transform: translateY(-30px);
      opacity: 0;
    }

    .title,
    .description,
    .button {
      transform: translateY(30px);
      opacity: 0;
    }
  }

  .title,
  .description,
  .button,
  .banner,
  .cancel {
    transition: transform 0.3s ease, opacity 0.3s ease;
    transition-delay: 0.5s;
  }

  .banner {
    transition-delay: 0.4s;
  }

  .description {
    transition-delay: 0.6s;
  }

  .button {
    transition-delay: 0.7s;
  }

  &.page-enter-done {
    .banner {
      transform: translateY(0px);
      opacity: 1;
    }

    .title,
    .description,
    .button,
    .cancel {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  z-index: 31;
  background: #dc1d48;
  transition: width 0.3s ease;

  &.-step-1 {
    width: 25%;
  }

  &.-step-2 {
    width: 50%;
  }

  &.-step-3 {
    width: 75%;
  }

  &.-step-4 {
    width: 100%;
  }
}
