.panel {
  &.publications {
    > .menu-toggle {
      position: relative;
      display: block;
      left: 0;
      top: 0;
      margin-top: 40px;
      margin-left: 30px;
      box-shadow: none;
      width: 18px;
      height: 18px;
      background-size: 100%;
      border-radius: 0;
    }

    > .content {
      height: auto;
      padding: 0px 30px;
      > .title {  
        padding-top: 10px;
        font-size: 28px;
      }

      > .post-list {
        > .post {
          padding: 10px 30px 20px 0px;
          border-radius: 0px;
          position: relative;
          margin: 0px 0 5px 0px;
          display: flex;
          border-bottom: 1px solid #eee;

          &:last-of-type {
            border-color: white;
          }

          &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            transform: translateY(-2px) rotate(-90deg);
            width: 12px;
            height: 12px;
            background: url(../../assets/images/arrow-down.svg) center center / 100% no-repeat;
          }

          > .photo {
            width: 45px;
            height: 45px;
            flex-shrink: 0;
            background: #eee;
            border-radius: 32%;
            overflow: hidden;
            margin: auto;

            > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          > .info {
            padding-left: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            > .title, > .description, > .detail {
              margin: 0
            }

            > .title {
              font-size: 16px;
              margin-bottom: 0px;
            }

            > .description {
              font-size: 12px;
              margin-bottom: 0px;
              width: calc(100% - 50px);
              max-height: 15px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            > .details {
              display: flex;
              > .detail {
                display: inline-block;
                font-size: 13px;
                margin-bottom: 5px;
                margin-right: 10px;
  
                > span {
                  color: #0FA5A3;
                  font-weight: 700;
                }
              }
            }

          }
        }
      }
    }
  }
}
