.map {
  .button-back {
    width: 20px;
    height: 20px;
    position: fixed;
    top: 70px;
    left: 30px;
    z-index: 40;
    background: url(../../assets/images/arrow-back.svg) center center no-repeat / 100%;

  }
}