.map {
  .button-back {
    width: 100vw;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 30;
    opacity: 0;
    pointer-events: none;
    .anticon {
      transform: translateY(20px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      position: fixed;
      width: 20px;
      height: 20px;
      top: 50px;
      left: 30px;
      opacity: 0;
      font-size: 25px;
    }
  }

  .fslightbox-toolbar {
    top: 30px;
    right: 30px;
    background: none;

    /* or hide fullscreen button at low resolution */
    .fslightbox-toolbar-button:nth-child(1) {
      display: none;
    }
  }
}

.-pin-opened {
  .button-back {
    opacity: 1;
    pointer-events: auto;
    .anticon {
      opacity: 1;
      transform: translateY(0px);
      transition-delay: 0.1s;
    }
  }
}
